.inputplace{
     padding: 16px 16px 16px 32px;
     margin: 0px 16px 16px 16px;
     background-color: #EBECF0;
     margin-top: 10px;

 }
 .inputplace:hover{
     background-color:grey;
 }
.place{
     margin-top:10px ;
     }